@charset "utf-8";

.content_middle {display: flex; align-items: center; justify-content: center;}

/* slider */
#slider {width: 100%; height: 600px;}
.swiper {
      width: 100%;
      height: 100% 
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


div {display: block;}
.swiper{position: relative;}
#slider {width: 100%; height: 600px; background-color: #f4f8fb; display: flex; align-items: center; justify-content: center; }

.l_box {width: 600px; height: 600px; padding-left: 20px; display: flex; flex-direction: column; text-align: left; margin-top: 300px;}
.r_box {width: 600px; height: 600px;}

.h1text {padding: 15px 0 15px 10px; width: 600px; font-size: 70px; font-weight: 400;}
.text2 {padding: 15px 0 15px 10px; width: 600px; font-size: smaller;}


/* 슬라이드 */
#scr {position: absolute; top: 60%; left: 100px; display: flex; flex-direction: column; gap:15px; border-color:black;}
#scr div {width: 50px; height: 50px; background:white; z-index: 10; color: black; padding: 14px 17px; cursor: pointer; border-radius: 50%;}

#bottom {right :10px;}
#top:hover, #bottom:hover {transition: all 1.2s; background: rgb(43, 167, 43); color: white;}



.btn1 {width: 155px; height: 55px; background: none; padding:10px 15px; margin-top: 10px; margin-left: 15px;}
.btn1:hover { background-color: rgb(43, 167, 43); transition: all 1.2s; color: white; border-color: transparent}

.img {width: 600px; height: 600px; background-color: antiquewhite;}

.icon_top {width: 1200px; height: 250px; display: flex; justify-content: space-around; margin: 0 auto;}
.icon {display: flex; justify-content: space-between; align-items: center;}
.icon img {width:70px; margin-right: 30px; transition: transform 0.2s ease-in-out;}
/* hover 없이도 부드럽게 변하도록 transition을 줄 수 있음. */
/* transition은 특정한 속성이 변화할 때 그 변화를 애니메이션처럼 부드럽게 보여주라는 속성으로 어떤 속성을 변화시킬 지는
color, opacity, width, transform 등의 속성을 넣을 수 있음. */
/* ease-in-out : timing-function(시간 함수) 중 하나로 애니메이션이 진행되는 가속,감속 패턴 정하기
linear 같은 속도, ease-in 점점 가속, ease-out 점점 감속, ease-in-out 가속+감속+가속
= 내부적으로는 cubic-bezier(0.42, 0, 0.58, 1)-베지어 곡선 으로 정의되어 있음. */
.icon:hover img{animation: move-scale 0.3s ease-in-out 1; transform-origin: centet centet;}
/* transform-origin : <x> <y> <z?> => 가운데 축으로 회전/왜곡을 하겠다는 뜻.*/
/* name(@keyframes 작성 시 필요한 이름), duraton(사이클 재생 시간), timing-function(타이밍, 이징), iteration-count(반복/재생 횟수)  */


/* transition : 상태 변화에 반응 할 때만 실행. ex로 hover, focus, 클릭 시 클래스 추가 제거, 중간 값 자동 계산, 간단한 효과에 적함 
animation : @keyframes를 정의해 시간 마다의 변화값을 세밀하게 조정 가능, hover 없이도 자동 실행 가능, 복잡한 효과에 적합.
간단하게 정리하자면 transition은 hover 시 살짝 커지거나 색 변화 등 가능, animation은 무한 회전, 3단계 변화 등 가능 */
@keyframes move-scale {
    0% {transform: scale(1) rotate(0deg);} /* retate : 요소를 transform-origin(기준점) 중심으로 회전*/
    15% {transform: scale(1.2) rotate(-4deg);} /* deg : 각도 */
    30% {transform: scale(1.2) rotate(4deg);}
    45% {transform: scale(1.2) rotate(-4deg);}
    60% {transform: scale(1.2) rotate(4deg);}
    75% {transform: scale(1.2) rotate(-4deg);}
    90% {transform: scale(1.2) rotate(4deg);}
    100% {transform: scale(1) rotate(0deg);}
}


/* 세일 품목 */
.sale {width:1200px; height: 250px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}

.s-l-box, .s-r-box {overflow: hidden; width: 580px; height: 250px; cursor: pointer;}
.s-l-box img, .s-r-box img {transition: all 0.3s ease-in-out;}
.s-l-box:hover img, .s-r-box:hover img {transform: scale(1.2);}

.s-l-box, .s-r-box {position: relative;}
.s-l-box-text, .s-r-box-text {position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 30px 45px; color: #f4f8fb;}
.s-h4 {font-weight: 450;}
.s-h3 {font-size: 30px; font-weight: 400; margin-bottom: 10px;}
.sale img {width: 580px; height: 250px;}
.s-l-box-text a, .s-r-box-text a {background: none; color: white; text-decoration:underline; font-weight: 300; margin-top: 30px;}
.s-l-box-text a:hover, .s-r-box-text a:hover {color: rgb(43, 167, 43);}


/* API 첫 번째 */
#book-group-1 { width: 100%; height: 570px; display: flex; justify-content: center; align-items: center; margin-top: 50px;}
.book-group-1-1 { width: 1200px; height: 570px; }
.b-g-1 {width: 1200px; height: 50px; display: flex; justify-content: space-between; align-items: center;}
.b-g-1 h2 {font-weight: 450; font-size: 25px;}
.b-g-1 p a {font-weight: 450; transition: all 0.4s;}
.b-g-1 p a:hover {color: #62ab00;}

.b-g-2 {position: relative; width: 1200px; height: 450px; display: flex; justify-content: center; align-items: center; }
#slider10 {width: 1200px; height: 450px; position: relative; display: flex; justify-content: center; align-items: center; }
.mySwiper10 .swiper-wrapper{display: flex; justify-content: space-between; }
.scr10 {display: flex; width: 1200px; justify-content: space-between; position: absolute; top:200px}
.swiper-button-next10, .swiper-button-prev10 {width: 50px; height: 50px; background-color: white; border-radius: 50%; border: 1px solid #44444442; display: flex; z-index: 30; opacity: 0; transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; cursor: pointer;}
.swiper-button-next10 {margin-right: -18px;}
.swiper-button-prev10 {margin-left: -18px;}
#slider10:hover .swiper-button-next10, #slider10:hover .swiper-button-prev10 {box-shadow: 0 1px 5px #4444445b; visibility: visible; opacity: 1;}
.mySwiper10 {position: relative; display: flex;}
.b-g-2-1 {position: absolute; display: flex;}
.b-g-2-2 {position: absolute; display: flex;}
.scr10 i {color: #4444446c; font-size: 30px; padding: 9px 15px;}

.box {width: 267px; height: 415px; margin: 20px; border-radius: 4px; border: 1px solid #00000018; position: relative; }
.box:hover {box-shadow: 4px 4px 10px #49484855;}    
.box i {position: absolute;}

.box img {width: 140px; height: 220px; margin-top: 10px; margin-bottom: 10px; box-shadow: 0 4px 5px #00000047;}
.box h3 {width: 250px; }
.box h6 {width: 250px; }
.box p {width: 250px; }

.box {display: flex; align-items: center; flex-direction: column;}
.box i{opacity: 0; visibility: hidden; transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; font-size: 20px; margin-top: 15px; transform: translateX(-100px) translateY(40px);}
.box i {cursor: pointer;}
.box i:nth-child(1) {top: -2px;}
.box i:nth-child(2) {top: 32px;}
.box i:nth-child(3) {top: 64px;}
.box i:nth-child(4) {top: 96px;}
.box:hover i {opacity: 1; visibility: visible;}
.box i:hover {color: #62ab00; transition: all 0.3s;}





/* 두 번째 슬라이드 */
#slider2 {width: 100%; height: 510px;  background-color: #F4F8FB; margin-top: 21px; }
.S_S_box {width: 635px; height: 510px; position: relative;}
.S_S_container1 {width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(124, 149, 170, 0.9)} 
.S_S_container2 {width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(120, 121, 125, 0.9)} 
.S_S_container3 {width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(86, 131, 139, 0.9)} 
.S_S_container4 {width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(103, 175, 157, 0.9)} 
.S_S_C_text {width:250px; height: 370px; color: white; display: flex; flex-wrap: wrap; margin-left: 20px; padding: 80px 0;}
.S_S_C_text h2{font-size: 35px;}
.S_S_C_text p{font: 20px bolder;}
.S_S_C_text p:nth-of-type(3) {margin-left:30px; text-decoration: line-through;}
.shopButton2 {width:135px; height: 50px; color: white; background: none; border: 2px solid white;}
.shopButton2:hover {background-color: #62ab00; color: white; transition: all 0.5s; border: none; cursor: pointer;}


/* Most */
.section {width: 1200px; height: 570px; margin: 0 auto; margin-top: 50px;}
.sect-box {width: 1200px; height: 60px; display: flex; justify-content: space-between;}
.sect-box h2 {display: flex; align-items: center; margin-left: 10px; font-weight: 400;}
.tab-content {width: 1200px; height: 580px; background-color: 1#959595; }
.sec1{width: 165px; height: 45px; margin: 10px 5px; font-size: 18px; border: none; background-color: #d2d2d2; color: rgb(0, 0, 0); cursor: pointer;}
.active {background-color: #62ab00; color: white;}
.tab-content > div{display: none;}
.tab-content > div:first-child {display: block;}

#tab1 {width: 1200px; height: 580px; }
#tab2 {width: 1200px; height: 580px; }
#tab1 div {float: left;}
#tab2 div {float: left;}
.tab-box {height: 385px; margin-right: 59px; margin-top: 30px; border-radius: 4px; border: 1px solid #00000018; cursor: pointer; text-align: center; }
.tab-box:hover {box-shadow: 3px 3px 6px #44444447;}
.tab-box:last-child {margin-right: 0;}
.tab-box:first-child {margin-left: 10px;}
.tab-box img {width: 140px; height: 220px; margin-top: 10px; margin-bottom: 10px; box-shadow: 3px 3px 6px #000000c3;}
.tab-box h3 {width: 250px; }
.tab-box h6 {width: 250px; }
.tab-box p {width: 250px; }



#books-container { display: flex; flex-wrap: wrap; gap: 20px; justify-content: center; margin-top: 20px;}
.book-card {width: 180px; background: white; border: 1px solid #ddd; border-radius: 8px; padding: 10px; text-align: center; box-shadow: 0 2px 5px rgba(0,0,0,0.1);}
.book-card img { width: 100px; height: auto; margin-bottom: 10px;}
.book-title { font-size: 14px; font-weight: bold; margin-bottom: 5px;}
.book-author { font-size: 12px; color: #555;}


/* Start a new series */
.start_a_new1 { width: 100%; height: 650px; background-image: url( "../img/time_back.jpg");}
.start1 {width: 100%; height: 650px; background-color: rgba(19, 23, 44, 0.864); display: flex; justify-content: center; align-items: center;}
.start2 {width: 1200px; height: 650px; display: flex;}
.start2-1 {width: 700px; height: 650px; color: white; display: flex; justify-content: center; flex-direction: column;}
.start2-1 h2 {padding-bottom: 30px; font-size:39px; font-weight: 500;}
.start2-1 > p {padding-bottom: 30px; font-size: 15px;}
.start2-1 ul {display: flex; padding-bottom: 50px; justify-content: space-around; align-items: center; text-align: center; font-size: 42px; font-weight: 500;}
.start2-1 ul li {width: calc(100% / 4); border-left:2px solid white; box-sizing: border-box;}
.start2-1 ul li:last-child{border-right: 2px solid white;}
.start2-1 ul li p {font-size: 15px; font-weight: 400;}
.btn-1 {width: 160px; height: 65px; background: none; color: white; font-size: 17px; border: 3px solid;}
.btn-1:hover {background:#62ab00; border-color: #62ab00; transition: all 0.5s;}

.start2-2 {width: 500px; height: 650px; display:flex; justify-content: center; align-items: center;}
#slider3 {width: 470px; height: 555px; cursor: pointer;}
#start-slider img{width: 365px; height: 450px; position: relative;}
.myswiper3 {position: relative;}

.swiper-button-next3, .swiper-button-prev3 {width: 60px; height: 60px; background: white;  border: none; border-radius: 50%; display: flex; justify-content: center;
align-items: center; position: absolute; top: 50%; transform: translateY(-50%); z-index: 20; cursor: pointer; opacity: 0%;}
/* transform: translateY() : 세로 중앙에 맞추기 X는 가로중앙 */
#slider3:hover .swiper-button-next3, #slider3:hover .swiper-button-prev3 {opacity: 100%; transition: all 0.3s ease-in-out;}
.swiper-button-next3 {right: 30px;}
.swiper-button-prev3 {left: 30px;}



/* Limmited Time offer 슬라이드 */




/* person 슬라이드 */
.person {width: 100%; height: 650px; background-image: url("../img/swiper_back3.jpg"); } 
            /* 사진 물어보기 */
.person2 {width: 100%; height: 650px; background-color: rgba(12, 27, 48, 0.8); display: flex; justify-content: center; align-items: center;}
#slider4 {width: 1200px; height: 650px; cursor: pointer;}
.person-face-img {display: flex; justify-content: center;}
#last-slider img{width: 100px; height: 100px; margin-bottom: 50px; border: none; border-radius: 50%; display: flex; justify-content: center; }
#last-slider p {color: white; font-weight: 350; line-height: 40px; letter-spacing: 0.7px;}
#last-slider h4 {color: white; font-weight: 400; padding-top: 50px;}


/* LATEST BLOGS */
.latest {width: 100%; height: 650px; }
.latest-box {width: 100%; height: 115px; display: flex; justify-content: center; padding-top: 90px auto ; text-align: center; }
.latest-box h3 {font-size: 30px; font-weight: 400; padding-top: 45px;}
.last {width: 100%; height: 595px; display: flex; justify-content: center; align-items: center;}
.last-box {width: 400px; height: 515px; margin-right: 6px; padding: 0 15px;}
.last-box-img{width: 370px; height: 235px; overflow: hidden;}
.last-box img { width: 370px; height: 235px; transition: all 0.5s ease-in-out;}
.last-box:hover img{transform: scale(1.1);}
.last-box h4 {font-size: 18px; font-weight: 350; color: black; padding:16px 0;}
.last-box h4:hover {color: #62ab00; transition: all 0.3s;}
.last-box ul {font-size: 13px; font-weight: 300; opacity: 0.8; border-top: 1px solid rgba(0, 0, 0, 0.2); display: flex; padding: 16px 0;}
.last-box ul li {padding-right: 15px;}
.last-box ul li:last-child:hover,  .last-box ul li:first-child:hover{color: #62ab00; transition: all 0.2s;}
.last-box p {font-size: 13px;}

