@charset "utf-8";

.content_middle {display: flex; align-items: center; justify-content: center;}

/* slider */
#slider {width: 100%; height: 600px;}
.swiper {
width: 100%;
height: 100%;
}

.swiper-slide {
text-align: center;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}


/* 첫 번째 박스 */
.home-box {width: 100%; height: 90px; text-align: center; padding-top: 31px; background-color: rgba(75, 75, 75, 0.052); letter-spacing: 1px;}
.home-box a:hover {color:rgb(255, 0, 0); transition: all 0.4s;}


/* 장바구니 */
.sub-book-all { width: 100%; height: 1111px; display: flex; justify-content: center; align-items: center;}
.sub-book-first {width: 1200px; height: 915px; display: flex; justify-content: center; align-items: center;}
.sub-book-1 {position: relative; width: 600px; height: 915px;}
.mySwiper2 {width: 600px; height: 565px; margin-bottom: 18px;}
.mySwiper {width: 450px; height: 100px; position: relative; display: flex; justify-content: center; align-items: center;}
.text-1 {background: none;}
.mySwiper .swiper-slide {width: 400px; height: 100px; position: relative; display: flex; justify-content: center; align-items: center;}
.sub-book-2 {width: 600px; height: 915px; background-color: aquamarine;}
.mySwiper2 .swiper-slide {display: flex; justify-content: center; align-items: center; background: none; border: 1px solid #4444442d;}
.swiper-button-next3, .swiper-button-prev3 {width: 30px; height:30px; background: rgb(255, 255, 255);  border: 1px solid #44444440; border-radius: 50%; display: flex; justify-content: center; align-items: center; position: absolute; cursor: pointer; top:620px;}
.swiper-button-next3:hover, .swiper-button-prev3:hover {background-color: #25a925; color: white; transition: all 0.4s;}
.active {border: 1px solid #00000046;}
.text-1, .sub-book-box1 {cursor: pointer;}
.swiper-button-next3 {right: 30px;}
.swiper-button-prev3 {left: 30px;} 

.mySwiper .sub-book-box1 img {width: 50px; height: 77px; border: none; box-shadow: 3px 4px 4px #444;}
.sub-book-box img {width: 350px; box-shadow: 4px 8px 8px #444;}

.tab-content {margin: 0 10px;}
.tab-content h3, .tab-content h6 {font-size: 30px; font-weight: 400; padding-bottom: 10px;}
.tab-content 

.boxtext {display: none;}
.boxtext:first-child{display: block;}





    


