@charset "utf-8";


/*reset*/
* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol {list-style: none;}
a {text-decoration: none; color: #333;}

body {font-family: sans-serif;}

header {width: 100%; height: 120px; background-color: aquamarine;}
.header_top {width: 1200px; height: 70px; background-color: yellow; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}

.logo {width: 180px; height: 50px; margin-left: 5px;}
.option {width: 158px; height: 37px; background-color: blue; margin: 0 10px;}

.search {width: 400px; height: 45px; display: flex;}
.search input{width: 470px; height: 45px; padding-left: 7px; border-radius: 10px 0 0 10px; color:rgba(0, 0, 0, 0.8); border: 1px solid rgba(0, 0, 0, 0.5);}
.search button { width: 80px; height: 45px; background-color: green; border: none; border-radius: 0 10px 10px 0; display: flex;
align-items: center; justify-content: center; cursor: pointer;}
.search button i {color: white;}

.nav option ul {list-style: none; margin: 0; padding: 0; display: flex;}

.nav option ul li {position: relative;}

.nav option ul li a {display: block;padding: 15px 20px;text-decoration: none;color: black;}
.suboption {display: none;position: absolute; top: 100%; left: 0; background: white; 
border: 1px solid #ccc; padding: 10px; min-width: 200px;}
.subopgroup {list-style: none; margin: 0; padding: 0; border-bottom: 1px solid #ddd; padding-bottom: 8px; margin-bottom: 8px;}
.subopgroup:last-child {border-bottom: none;margin-bottom: 0; padding-bottom: 0;}
.subopgroup li a {display: block; padding: 6px 10px; color: black;}
.subopgroup li a:hover {background: #f2f2f2;}

.nav option ul li:hover .suboption {display: block;}

/* footer */
footer {width: 100%; height: 60px; background-color: antiquewhite;}
.container2 {width: 1200px; height: 60px; background-color: #aaa; margin: 0 auto;}